<section class="registration">
  <div class="logo">
    <a href="/"><img width="150px" src="/images/Spotify_Logo.png" alt="" /></a>
  </div>
  <div class="wrapper">
    <div class="edit-form-wrapper">
      <form method="POST">
        <div> <h2>Please login</h2></div>
        <div>
          <label for="email">E-mail</label>
          <input type="text" name="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="text" name="password" />
        </div>
        <button
          style="margin-top: 20px"
          class="submit"
          type="submit"
        >Submit</button>
        <a href="./" class="submit" style="margin-top: 20px">Back</a>
      </form>
    </div>
  </div>
</section>