<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
    <link href="/public/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container d-flex">
            <div class="logo">
                <a href="/">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="" />
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Titulinis</a></li>
                    <li><a href="/about-us">Apie Mus</a></li>
                    <li><a href="/history">Istorija</a></li>
                    <li><a href="/clients">Klientai</a></li>
                    <li><a href="/contacts">Kontaktai</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    <script src="/public/js/main.js"></script>
</body>
</html>