<main class="form-signin form-signup w-100 m-auto">
  <form>
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    {{#if message}}
        <div class="alert alert-{{status}}">{{{message}}}</div>
    {{/if}}
    
    <div class="form-floating">
      <input type="text" name="name" class="form-control border-bottom-radius-none" placeholder="Enter your name">
      <label>Your name</label>
    </div>
    <div class="form-floating">
      <input type="email" name="email" class="form-control border-top-radius-none" placeholder="name@example.com">
      <label>Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" name="password" class="form-control" placeholder="Password">
      <label>Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-2">
        <a href="/">Prisijungimas</a>
    </p>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
</main>