<section class="registration">
  <div class="logo">
    <a href="/"><img width="150px" src="/images/Spotify_Logo.png" alt="" /></a>
  </div>
  <div class="wrapper">
    <div>

    </div>
    <div class="edit-form-wrapper">
      <form method="POST">
        <div><h3>Register a new account</h3></div>
        <div>
          <label for="first_name">First name</label>
          <input type="text" name="first_name" />
        </div>
        <div>
          <label for="last_name">Last name</label>
          <input type="text" name="last_name" />
        </div>
        <div>
          <label for="email">E-mail</label>
          <input type="text" name="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="text" name="password" />
        </div>
        <button style="margin-top: 20px" class="submit" type="submit">Sign up</button>
        <a href="./" class="submit" style="margin-top: 20px">Back</a>
      </form>
    </div>
  </div>
</section>